</div>        
    </div>
    <script src="/js/scripts/vkbeautify.0.99.00.beta.js"></script>
    <script src="/js/scripts/jquery-1.10.2.min.js"></script>
    <script src="/js/scripts/bootstrap.min.js"></script>
    <script src="/js/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scripts/vkbeautify.0.99.00.beta.js"></script>
    
     <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
    </script>
</body>
</html>
