{{> head}}

<h2>Ödeme Onayı</h2>
<fieldset>
    <legend><label style="font-weight:bold;width:250px;">Release Payment </label></legend>
    <label style="font-weight:bold;">Servis Adı &nbsp; :   &nbsp; </label> CCMarketPlace<br>
    <label style="font-weight:bold;">Operasyon Adı &nbsp; :&nbsp; </label> ReleasePayment <br>
    <label style="font-weight:bold;">UserCode  &nbsp;:  &nbsp;</label> Wirecard tarafından verilen değer <br>
    <label style="font-weight:bold;">Pin &nbsp;:  &nbsp;</label> Wirecard tarafından verilen değer <br>
    <label style="font-weight:bold;">Komisyon Oranı &nbsp;:  &nbsp;</label> 100 //1*100 komisyon oranı 100 ile çarpılarak gönderilir. <br>
    <label style="font-weight:bold;">MPAY &nbsp;:  &nbsp;</label> Ödeme esnasında gönderilen MPay değeri eklenmelidir. <br>
    <label style="font-weight:bold;">OrderId &nbsp;:  &nbsp;</label> Ödemenin Benzersiz Id değeri <br>
    <label style="font-weight:bold;">Açıklama &nbsp;:  &nbsp;</label> Bilgisayar Ödemesi <br>
   
</fieldset>


<br />
<br />



<fieldset>
        <!-- Form Name -->
        <legend><label style="font-weight:bold;width:250px;">SubPartner Bilgileri</label></legend>
        <!-- Text input-->   
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  SubPartnerId: </label>
            <div class="col-md-4">
                <input value="" name="subPartnerId" class="form-control input-md">
            </div>
        </div>

    </fieldset>
    <br>
    <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <div class="col-md-4">
            <button type="submit" id="btnSubmit" name="" class="btn btn-danger"> Ödeme Onayı Ver</button>
        </div>
    </div>
     <div class="form-group">
          <div class="col-md-12">
              <br>
          <pre id="result">

        </pre>
        </div>
            
    </div>


<script src="/js/MarketPlaceReleasePayment.js"></script>
{{> footer}}