{{> head}}
<h2>Abonelik Listeleme </h2>

 <div class="form-group">
        <div class="row">

            <label class="col-md-12 control-label" for="">Telefon Numarası</label>
            <div class="col-md-3">
                <input name="gsm" type="text" value="" id="txtPhoneNumber" class="form-control" placeholder="(5XX)XXXXXXX" required="">
            </div>
        </div>
        <div class="row">
            <br />
            <label class="col-md-12 control-label" for=""> Ödeme Yöntemi:</label>
            <div class="col-md-12">
                <select name="subscriberTypeId">
                    <option value="1">Tek Çekim</option>
                    <option value="2">Aylık abonelik (iletilen miktar her ay otomatik çekilir)</option>
                    <option value="3">Haftalık abonelik (iletilen miktar her hafta otomatik çekilir)</option>
                    <option value="4">2 haftalık abonelik</option>
                    <option value="5">3 aylık abonelik</option>
                    <option value="6">6 aylık abonelik</option>
                    <option value="7">Aylık denemeli (ilk ay ücretlendirme yapılmaz)</option>
                    <option value="8">Haftalık denemeli (ilk hafta ücretlendirme yapılmaz)</option>
                    <option value="9">2 haftalık denemeli (ilk 2 hafta ücretlendirme yapılmaz)</option>
                    <option value="10">3 aylık denemeli</option>
                    <option value="11">6 aylık denemeli</option>
                    <option value="13">30 günlük</option>
                    <option value="14">Günlük abonelik</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="col-md-12 control-label" for="">Abonelik Satış Kanalı</label>
                <div class="col-md-12">
                    <select name="orderChannelId">
                        <option value="100">Pro Api</option>
                        <option value="101">Basic Api</option>
                        <option value="102">Sms</option>
                        <option value="103">Direct Api</option>
                        <option value="104">Api Plus</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-12 control-label" for="">Abonelik Aktif/Pasif Bilgisi</label>
                <div class="col-md-12">
                    <select name="activeTypeId">
                        <option value="1">Aktif</option>
                        <option value="0">Pasif</option>
                        <option value="-1">Hepsi</option>

                    </select>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">Abonelik Başlangıç Tar.</label>
                <div class="col-md-3">
                <input name="startDateMin" type="text" value="" id="txtStartDateMin" class="form-control"  @readonly = "readonly", required="">
                    <span class="help-block">
                        Abonelik başlangıç tarihini belirtir (alt sınır)
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">Abonelik Başlangıç Tar.</label>
                <div class="col-md-3">
                 
                    <input name="startDateMax" type="text" value="" id="txtStartDateMax" class="form-control"  @readonly = "readonly", required="">
                    <span class="help-block">
                        Abonelik başlangıç tarihini belirtir (üst sınır)
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">Son Başarılı Ödeme Tarihi</label>
                <div class="col-md-3">
                <input name="lastSuccessfulPaymentDateMin" type="text" value="" id="txtLastSuccessfulPaymentDateMin" class="form-control"  @readonly = "readonly", required="">
                    <span class="help-block">
                        Aboneliğe ait son başarılı ödeme tarihini belirtir. (alt sınır)
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">Son Başarılı Ödeme Tarihi</label>
                <div class="col-md-3">
                <input name="lastSuccessfulPaymentDateMax" type="text" value="" id="txtLastSuccessfulPaymentDateMax" class="form-control"  @readonly = "readonly", required="">
                    <span class="help-block">
                        Aboneliğe ait son başarılı ödeme tarihini belirtir. (üst sınır)
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-12 control-label" for=""></label>
            <div class="col-md-4">
                <br />
                <button type="submit" id="btnSubmit" name="" class="btn btn-danger">Abonelik Listele</button>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-12">
                 <pre id="result">

                </pre>
   
            </div>
        </div>
    </div>


   <script src="/js/SelectSubscriber.js"></script>
    <link href="/css/jquery-ui.css" rel="stylesheet" />
   <script src="/js/scripts/jquery-1.10.2.min.js"></script>
    <script src="/js/scripts/jquery-ui.js"></script>
    <script src="/js/scripts/datepicker-tr.js"></script>
    <script>

       

        $("#txtStartDateMin").datepicker({
            dateFormat: 'mm.dd.yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+1",
            onSelect: function (selected) {
                $("#txtStartDateMax").datepicker("option", "minDate", selected);
            }
        });
        $("#txtStartDateMax").datepicker({
            dateFormat: 'mm.dd.yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+1",
            onSelect: function (selected) {
                $("#txtStartDateMin").datepicker("option", "maxDate", selected);
            }
        });

        $("#txtLastSuccessfulPaymentDateMin").datepicker({
            dateFormat: 'mm.dd.yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+1",
            onSelect: function (selected) {
                $("#txtLastSuccessfulPaymentDateMax").datepicker("option", "minDate", selected);
            }
        });
        $("#txtLastSuccessfulPaymentDateMax").datepicker({
            dateFormat: 'mm.dd.yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+1",
            onSelect: function (selected) {
                $("#txtLastSuccessfulPaymentDateMin").datepicker("option", "maxDate", selected);
            }
        });
    </script>

    {{> footer}}
